{% extends 'acsgpxstitch_app/base.html' %}

{% block content %}
<script>
    function procesFiles() {
        document.getElementById("id-processing-p").style.visibility = "visible";
        document.getElementById("id-processing-img").style.visibility = "visible";
        document.getElementById("uploadform").submit();
    }
</script>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <table class="scalefont" style="width:100%">
                    <tr>
                        <td>
                            <form method="post" class="md-form" id="uploadform" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="original_tracks" value="{{ original_tracks }}">
                                <div class="file-field">
                                    <label for="gpxfile" id="gpxfilelabel" class="gpxfilelabel">Select GPX files to stitch together</label>
                                    <div class="btn">
                                        <input type="file" id="gpxfile" name="gpxfile" accept=".gpx" multiple style="display:none">
                                    </div>
                                    <div class="gpxfilepath file-path-wrapper">
                                        <input class="gpxfilepath file-path validate" type="text" onchange=procesFiles()>
                                    </div>
                                    <br>
                                </div>
                                {% if tracks.1.filename %}
                                    <label class="checkcontainer">
                                        <b>Use Intelligent Stitch </b>
                                        <input type="checkbox"
                                            name="intelligent_stitch"
                                            {% if intelligent_stitch %}
                                                checked="checked" 
                                            {% endif %}
                                                onchange=procesFiles()
                                            id="id_intelligent_stitch">
                                        <span class="checkmark"></span> 
                                    </label>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                </table>
                <hr>
                {% if tracks.0.filename %}
                    <table id="click-table" style="overflow-x:auto;" class="table-hover scalefont">
                        <thead>
                            <th>Filename</th>
                            <th style="text-align:right;">Length (km)</th>
                            {% if intelligent_stitch %}
                                <th>Reversed</th>
                            {% endif %}
                        </thead>
                        <tbody>
                            {% for track in tracks %}
                                <tr>
                                    {% if track.filename %}
                                        <td>{{ track.filename }}</td>
                                        <td style="text-align:right;">{{ track.distance }}</td>
                                        {% if intelligent_stitch %}
                                            <td>
                                                <label class="checkcontainer">
                                                    <input type="checkbox"
                                                        name="reverse_track" 
                                                        {% if track.reversed %}
                                                            checked="checked" 
                                                        {% endif %}
                                                        id="id_reverse_track"
                                                        disabled="disabled">
                                                    <span class="checkmark"></span> 
                                                </label>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            <tr>
                                <td><b>Total:</b></td>
                                <td style="text-align:right;"><b>{{ total_distance }}</b></td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    {% if not tracks.1.filename %}
                        <table class="scalefont">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="tracks" value="{{ tracks }}">
                                <input type="hidden" name="original_tracks" value="{{ original_tracks }}">
                                <tr>
                                    <td>
                                        <b>Start selection </b><input type="number" name="start_selection" value="{{ start_selection }}">
                                    </td>
                                    <td>
                                        <b>End selection </b><input type="number" name="end_selection" value="{{ end_selection }}">
                                    </td>
                                    <td>
                                        <br><input type="submit" id="selection" value="Select" class="save btn btn-default scalefont">
                                    </td>
                                </tr>
                            </form>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="tracks" value="{{ tracks }}">
                                <input type="hidden" name="original_tracks" value="{{ original_tracks }}">
                                <input type="hidden" name="start_selection" value="{{ start_selection }}">
                                <input type="hidden" name="end_selection" value="{{ end_selection }}">
                                <input type="hidden" name="gpxdownload" value="True">
                                <tr>
                                    <td>
                                        <br><input type="submit" id="gpxdownload" value="Download selection" class="save btn btn-default scalefont">
                                    </td>
                                </tr>
                            </form>
                        </table>
                    {% endif %}
                {% endif %}
                {% if tracks.1.filename %}
                        <table class="scalefont">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="tracks" value="{{ tracks }}">
                                <input type="hidden" name="original_tracks" value="{{ original_tracks }}">
                                <input type="hidden" name="intelligent_stitch" value="{{ intelligent_stitch }}">
                                <input type="hidden" name="gpxdownload" value="True">
                                <tr>
                                    <td>
                                        <b>Track name </b><input type="text" name="trackname" placeholder="{{ tracks.0.trackname }}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <br><input type="submit" id="gpxdownload" value="Download .gpx file" class="save btn btn-default scalefont">
                                    </td>
                                </tr>
                            </form>
                        </table>
                {% endif %}
                    <p id="id-processing-p" class="scalefont" style="text-align: right; visibility: hidden;">Please be patient, I'm busy...</p>
                    <img id="id-processing-img" style="float:right; width:135px; height:112px;visibility: hidden;" src="/static/img/acstracks-progress.gif">    
            </div>
            <div class="col-8">
                {% if tracks.0.filename %}
                    <iframe class="responsive-iframe" id="map_frame" src={{ map_filename }} title="Track map"></iframe>
                    <script type=”text/javascript”>
                        var i = 1 + Math.round(Math.random()*(2));
                        document.getElementById('map_frame').src=’panel_’+i+’.html’
                        </script>                
                {% else %}
                    <iframe class="responsive-iframe" src={{ basemap_filename }} title="Track map"></iframe>
                {% endif %}
            </div>
        </div>
    </div>    
{% endblock %}